@import '~antd/lib/style/themes/default';

.record-page {
  .ant-fullcalendar-date {
    padding: 0;
    position: relative;
    .ant-fullcalendar-value {
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .ant-fullcalendar-content {
      width: 100%;
      height: 100%;
      padding: 20px 5px 0 5px;
    }
  }
  .date-cell {
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    user-select: none;
    &.no-data {
      align-items: center;
    }
  }
  .month-cell {
    user-select: none;
    padding: 0 20px;
    &.no-data {
      height: 100%;
      display: flex;
      font-size: 12px;
      justify-content: center;
      align-items: center;
    }
    .label {
      font-size: 14px;
      width: 100%;
    }
    & > * {
      font-size: 12px;
      width: 50%;
      display: inline-block;
    }
  }
}

.record-modal {
  .ant-modal-body {
    padding: 0;

    .record-modal-container {
      display: flex;

      .labels {
        max-width: 150px;
        padding-top: 52px;
        .label-item {
          height: 35px;
          line-height: 35px;
          padding: 0 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .content {
        flex: 1;
      }
    }
  }

}
