@import '~antd/lib/style/themes/default';
@import "~antd/dist/antd.less";

#root {
  height: 100%;
  .main-body {
    height: 100%;
  }
}

.ant-layout {
  height: 100%;
  .ant-layout-sider {
    .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      .ant-menu {
        flex: 1;
      }
      .personal-info {
        height: 40px;
        overflow: hidden;;
        color: #fff;
      }
    }
  }
}

.multi-filter-label {
  max-width: 150px;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.base-layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    min-height: 45px;
    line-height: 45px;
    display: flex;
    background-color: #fff;
    padding: 0 15px;
    .label {
      flex: 1;
    }
    .search-filter {
      flex: 1;
      display: flex;
      align-items: center;
      & > * {
        margin-right: 5px;
      }
    }
  }
}
